/* importing the font family from google fonts*/
@import url(https://fonts.googleapis.com/css?family=Merriweather);
/* Select html and body elements */
html, body {
  background: black;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}
/* Heading styles */
h1 {
    text-align: center;
    color: #a8a8a8;
 }
 /* Form styles */
 form {
    width: 60%;
    text-align: center;
    margin: 20px 20%;
    /* Input and textarea styles */
     input, textarea {
        border:0;
        border-radius: 10px;
       outline:0;
        padding: 1em;
        display: inline-block;
        width: 100%;
        margin-top: 1em;
        font-family: 'Merriweather', sans-serif;
        resize: none;
        background-color: white;
        color: black;
     }
     /* Submit button styles */
     #input-submit {
        color: black; 
        background: white;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        
     }
     textarea {
        height: 126px;
    }   
}
.half {
    float: left;
    width: 50%;
    margin-bottom: 1em;
  }
  
  .right { width: 40%;
  margin-left: 10%; }
  .left{
      width: 45%;
      #input-name{
          margin-bottom: 13%;
      }
      
  }
  #input-submit:hover {
    color: white; 
    background: rgba(23, 23, 23, 0.858);
    cursor: pointer;
    font-size: 15px;    
 }
