@import url(https://fonts.googleapis.com/css?family=Merriweather);
html, body {
  background: black;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
    text-align: center;
    color: #a8a8a8;
 }