@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background-image: url("./assets/backgroud-tik-tak-toe.jpg");
    background-size: cover ;
}
.heading{
    padding-top: 30px;
    color: #480505;
}
