@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background-image: url("./assets/backgroud-tik-tak-toe.jpg");
    background-size: cover ;
}
.heading{
    padding-top: 30px;
    color: #480505;
}
section{
    text-align: center;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    background-color: #BC4A2F;
    margin-top: 100px;
    box-shadow: inset -21px 21px 28px #953a25,
            inset 21px -21px 28px #e35a39;
}

