body{
    margin: 0;
    padding: 0;
    background: #310237;
}
.img-container{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    justify-content: center;
    gap: 10px;
}
.img-container img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(216, 209, 209);
    transition: all ease-in-out 0.5s;
}
.img-container img:hover {
    cursor: pointer;
    width: 35%;
    object-fit: inherit;
    box-shadow: 5px 5px 35px rgba(255, 255, 255, 0.3);
}